server:
  port: 4000

spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false # Netflix Ribbon 대신 Spring Cloud LoadBalancer 사용

management:
  endpoints:
    web:
      exposure:
        include: refresh

message:
  test1: '(수정)테스트 메시지1'
  test2: '(수정)테스트 메시지2'

message3: '(수정)테스트 메시지3'